@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

/*Typography*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Crimson Text', serif;
    color: #555;
}
h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: white;
}
h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.875rem;
    line-height: 1.5;
}

p {
    color: #555;
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/*position content using div wrapper*/
.wrapper {
    width: 75%;
    margin: 0 auto;
}

/*ancor styles*/
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: red;
}

header {
    background-image: url(../images/churchill-house-22.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* mian navigation */
nav {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    position: fixed; /* this will fix the nav bar inplace even when scroling */
    color: #555;
    width: 100%;
    background-color: white;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    text-align: center;
    top: 0;
}
nav ul {
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    padding: 0rem 3rem;
    color: dimgrey;
    text-decoration: none;
    letter-spacing: 0.05rem;
}
nav ul li a:hover {
    text-decoration: none;
    color: lightgrey;
}
nav ul li a.currentpage {
    color: lightgrey;
}

/*dropdown menu for smaller screens*/
.button {
    display: none;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    color: #555;
    width: 100%;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;    
    text-align: left;
    padding-left: 2rem;
    padding-right: 3rem;
}
.button:hover {
    color: lightgrey;
}
.dropdown {
    position:relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);  /*rgba includes Alpha channel responsible for transparency*/
}
.dropdown-content {
    display: none;
    font-family: 'Nunito', sans -serif;
    width: 100%;
    font-size: 2rem;
    overflow: auto;
    text-align: left;
}
.dropdown-content ul li a {
    display: block;
    color: #555;
    background-color: white;
    padding-left: 2rem;
    padding-top: 2rem;
    text-decoration: none;
}
.dropdown-content ul li a:last-child {
    padding-bottom: 2rem;
}

.dropdown ul li a:hover {
    color: lightgray;
}
.dropdown ul li a.currentpage {
    color: lightgray;
}
.show {
    display: inline-block;
}


/*background image and page title*/
.article {
    width: 100%;
    min-height: 100vh;  /*vh = viewport height is used to make the box fit the full screen hight*/
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.25);  /*rgba includes Alpha channel responsible for transparency*/
    display: flex;  /*specifies the display behavior*/
    flex-direction: column; /*direction of the flexible items*/
    justify-content: center;
}
.article p {
    font-size: 1rem;
    color: white;
}
main {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* grid style 1 */
#grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.125rem;
}

/* grid style 2 */
#grid-container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3.125rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* grid children*/
.grid-item {
    height: auto;
    width: auto;
    background-size: contain;
}

#list ul {
    padding-left: 2rem;
}

#list ul li{
    list-style-type: decimal;
    color: #555;
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

footer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #555;
    /*footer content positioning*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
footer p{
    color: gray;
    font-style: italic;
}
/* fotter navigation */
.footernav {
    font-family: 'Nunito', sans-serif;
    position: relative;
}
.footernav ul {
}
.footernav ul li{
    margin-top: 1rem;
}
.footernav ul li a {
    font-size: 1rem;
    color: lightgrey;
    text-decoration: none;
}
.footernav ul li a:hover {
    text-decoration: none;
    color: white;
}
.footernav ul li a.currentpage {
    color: white;
}

/*Responsive web design*/
@media screen and (max-device-width: 800px) { 
    
    nav {
        display: none;
    }   
    
    .button {
        display: block;
    }
}


@media screen and (max-device-width: 480px) { 
    
    .wrapper {
        width: 80%;
        margin: 0 auto;
    }
    
    /*convering the grids from 2 colums to singal colum grids*/
    #grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: auto;
    }

    #grid-container2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: auto;
    }
    .article p {
        font-size: 2rem;
        overflow: auto;
    }
    .article p{
        font-size: 2.5rem;
    }
    
    article h1{
        font-size: 5rem;
    }
    p {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    .footernav ul li{
        margin-top: 3rem;
    }
    .footernav ul li a {
    font-size: 3rem;
    }
    #list ul li{
        font-size: 3rem;
        line-height: 3rem;
    }
}

