@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

/*Typography*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Crimson Text', serif;
    color: black;
}
h1 {
    font-size: 6.250em;
    padding-bottom: 10px;
}
h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
h3 {
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

p {
    color: #555;
    font-family: 'Crimson Text', serif;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 2em;
    margin-right: 2em;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

/*ancor styles*/
a {
    color: blue;
}
a:hover {
    text-decoration: underline;
}
a:visited {

}
a:active {
    text-decoration: underline;
}

header {
    background-image: url(../images/churchill-house-22.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* mian navigation */
nav {
    width: 100%;
    background-color: white;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    position: fixed; /* this will fix the nav bar inplace even when scroling */
    text-align: center;
    top: 0;
}
nav ul {
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    padding: 0 1.563rem;
    color: dimgrey;
    text-decoration: none;
    letter-spacing: 1px;
}
nav ul li a:hover {
    color: black;
}
nav ul li a.currentpage {
    color: black;
}

/*background image and page title*/
#sec1 {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
#sec1 p {
    color: white;
}
#sec1 h1 {
    color: white;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* mian content grid */
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

/*
@media screen and (max-device-width: 1440px) {
    #grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
}
*/


#grid > div {
    height: 400px;
    background-size: cover;
        overflow: auto;
}

.content-1 {
    background: url(../images/churchill-house-12.jpg);
}
.content-3 {
    background: url(../images/churchill-house-14.jpg);
}
.content-5 {
    background: url(../images/churchill-house-1.jpg);
}
.content-7 {
    background: url(../images/extra2-robin%20boyd%20portrait-copyright-Mark-Strizic.jpg);
}


/* fotter navigation */
nav2 {
}
nav2 ul {
}
nav2 ul li{
    display: inline-block;
}
nav2 ul li a {
    padding: 0px 40px;
    color: gray;
    text-decoration: none;
}
nav2 ul li a:hover {
    color: darkgray;
}
nav2 ul li a.currentpage {
    color: darkgray;
}

footer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


footer p{
    margin-top: 25px;
    color: gray;
    font-style: italic;
}